/* Basic styling */

:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: rgb(255, 255, 255);
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #771f06, #220101);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #771f06, #220101); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

html {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}
